
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"> 
    <title>Dished</title>
</head>
  <body class="home">
    <header>
      <div>
        <h1 class="intel">Dished</h1>
      </div>
      </header>
       <div>
        <nav>
          <ul class="intelist">
             <li><a href="/foods">Menu</a></li> 
              <li><a href="/foods/:id/edit">Edit Menu</a></li>  
            <li><a href="/parties/new">New Table</a></li>
             <li><a href="/orders/new">New Orders</a></li>
            <li><a href="/parties">All Tables</a></li> 
                     
           
          </ul>
        </nav>
      </div>
  </body>
</html>