<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"> 
  <head>
  <div class="orderdiv">
  <body class="orderbod">
<h2>Add Order</h2>
<form action="/orders" method="POST">
  Category: <input type="text" name="order[category]"><br>
  Name: <input type="text" name="order[name]"><br> 
  
   <input type="submit">


 </form>
</body>
</div> 
</html> 






