<div class="foodbod">
  <div style="height: 4em;"></div>
  <div class="menumain">
      <a class="mainlink" href="/dished">Main</a><br>
      <a class="mainlink" href="/foods">Menu</a>
  </div>
  <div class="foodiv">
    <div class="menubod">
      <h1 class="menuhead">Menu</h1>
      <ul> 
        <li><% @foods.each do |food| %></li>
          <p><strong><%= food.name %></strong></p>
          <li>£<%= food.price %></li><br>
          <a class="editfoodlink" href="/foods/<%= food.id %>/edit">Edit/Delete</a>
        <% end %> 
      </ul>
    </div>
  </div>
</div>


