<h2>Add a Food</h2>

<form action="/foods" method='POST'>
  Category: <input type="text" name='food[category]' ><br>
  Name: <input type="text" name='food[name]' ><br>
  Price: <input type="int" name='food[price]' ><br>

  <input type="submit">
</form>