
<head>
      <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"> 
  </head>
<div class="foodbod">
  <div style="height: 4em;"></div>
  <div class="menumain">
      <a class="mainlink" href="/dished">Main</a><br>
      <a class="mainlink" href="/parties/new">Add Table</a>
  </div>
  <div class="foodiv">
    <div class="menubod">
      <h1 class="menuhead">Tables</h1>
      <ul>
    <% @parties.each do |party| %>
    <li>
        <a  class="tablelink" href="/parties/<%= party.id %>">
        <%= party.table_number %></a>
    </li>
    <% end %>
</ul>
    </div>
  </div>
</div>
