


<html>
<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"> 

  </head>

<body>
<h2>Tables</h2>
<ul>
    <% @parties.each do |party| %>
    <li>
        <a href="/parties/<%= party.id %>">
        <%= party.table_number %></a>
    </li>
    <% end %>


</ul>

<a href="/parties/new">Add New Table</a><br>
</body>
</html>