<h2>Add a New Table</h2>


<form action="/parties" method='POST'>
  Table Number: <input id="table_number" type="text" name='party[table_number]' ><br>
  Guests: <input id="guests" type="int" name='party[guests]' ><br>
  Paid: <input id="paid" type="text" name='party[paid]' ><br>

  <input type="submit">
</form>